.shownews {
  font-weight:700;
  color:#fff;
  text-transform: uppercase;
  font-family: open sans;
}

.shownews .title { 
  background:#F23E16;
  display:inline-block;
  padding:8px 16px;
  clip-path: polygon(0px 0px, 100% 0, 100% 100%, 0px 100%);
  animation: mask 0.5s;
  animation-iteration-count: 1;
  animation-timing-function:ease;
}

 .shownews #news { 
  background: #037F8C;
  display:inline-block;
  padding:8px 16px;
  clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);
  animation: mask 2s;
  animation-iteration-count: 1;
  animation-timing-function:ease;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.shownews #news a{
  color:#fff; 
  text-decoration:none;
} 
.shownews #news a:hover{
  border-bottom: 2px solid rgb(247, 240, 240);
}
@keyframes mask {
  0% {
    clip-path: polygon(0px 0px, 0% 0, 0% 100%, 0px 100%);
  }
  100% {
    clip-path: polygon(0px 0px, 100% 0, 100% 100%, 0px 100%);
  }
}


.howerforlink {
  color: #070906; 
  font-weight: 600;
}

.howerforlink:hover {border-bottom: 2px solid black;
color: #070906;}
.flip-card {
    background-color: transparent;
    width: 250px;
    height: 230px;
    perspective: 1000px;
 }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 8px 8px 8px 8px rgba(12, 0, 0, 0.753);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    vertical-align: middle;
    padding: 30px 10px;
  }
  
  .flip-card-front {
    background-color: #7CB5EA;
    color: black;
  }
  
  .flip-card-back {
    background-color: black;
    color: whitesmoke;
    transform: rotateY(180deg);
  }

td{
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}



 